/*--------------------------------------------------------------
  Media Queries
--------------------------------------------------------------*/

/* width 1200px up */
@media screen and (min-width: 75em) {
	
}

/* 992px and 1200px */
@media only screen and (min-width: 62px) and (max-width: 75em) {
	
	#site-navigation .nav li a {
		font-size: 14px;
		padding:14px 10px;
	}
	
	#site-navigation .cart {
		margin: 0 0 0 10px;
	}
	
	.events .section-content .info{
		padding:20px;
	}
	
	.events .section-content .info p{
		width:100%;
		margin:0 0 5px;
	}
	
	.events .section-content .info .get-ticket{
		float:none;
		width:auto;
	}
}

/* width: 991px; */
@media screen and (max-width: 61.938em) {
	
	body{
		overflow-x:hidden;
	}
	
	.hero .hero-content{
		width:75%;
		top:35%
	}

	.events .section-content .info .get-ticket{
		font-size:10px;
		padding:5px 10px
	}
	
	.events .section-content .info p{
		font-size:12px;
	}
	
	.events .section-content .date .day{
		font-size:20px;
	}
	
	.events .section-content .date{
		padding:10px;
	}

	.top-footer{
		text-align:center
	}

	.events .section-header p{
		width:68%;
	}
	
	.main-header .col-md-9{
		margin:-47px 0 0;
	}
	
}

/* width 768px */
@media screen and (max-width: 48em) {
	
	.hero .hero-content{
		width:85%;
	}
	
	.events .section-header a{
		float:none;
	}
	
	.events .section-header p{
		width:100%;
	}
	
	.events .section-content ul li{
		width:100%;
		margin:0 0 30px
	}
	
	.events .section-content ul li img{
		width:100%;
		height:auto;
	}

	.events .section-content .date{
		padding:15px;
	}
	
	.events .section-content .date .day{
		font-size:30px;
	}
	
	.events .section-content .info{
		padding: 50px 20px 25px;	
	}
	
	.events .section-content .info p{
		font-size:16px;
		width:auto;
	}
	
	.events .section-content .info .get-ticket{
		font-size: 12px;
		padding:10px 15px;
		width:auto;
		float:right;
	}
	
	.section-event-category .section-content ul li{
		width:50%;
		float:left;
	}
	
	.section-statistics .section-content ul li{
		margin:0 0 30px
	}
	
	.events {
		padding: 70px 15px 35px;
	}
	
	.section-event-category {
		padding: 35px 15px 40px;
	}
	
	.top-header {
		padding: 10px 15px;
	}
	
	.top-header .top-right ul li:last-child a{
		padding:0 0 0 10px;
	}
	
	.main-header .site-branding{
		padding:0 15px;
	}
	
	.section-event-category .section-content ul li a{
		font-size:20px
	}
	
	.section-event-category .section-content ul li img{
		width:100%;
		height:auto;
	}
}

/* width 480px */
@media screen and (max-width: 30em) {
	
	.events .section-content .info p{
		width:100%;
	}
	
	.events .section-content .info .get-ticket{
		float:none;
	}
	
	.hero .hero-content{
		width:100%;
		padding:15px;
		top:25%;
	}
	
	.section-event-category .section-content ul li{
		float: none;
		width: 100%;
	}
}